*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

body{
    font-family:sans-serif;
    background-color: #000;
}

.navbar-custom {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    background-image: linear-gradient(#222, transparent);

    transition: background-color .3s ease;
}

.navbar-custom.scrolled {
    background: rgba(0, 0, 0, 0.95);
    border-bottom: 1px solid #b99a55;
}

.container-nav{
    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:1rem 2rem;
}

.logo{
    text-decoration:none;
    color:#fff;
    font-size:1.5rem;
    font-weight:bold;
}

.logo span{
    color: #c49b4e;
}

.logo span:hover{
    color: #FFD700;
}


.nav-desktop{
    display:flex;
    gap:2rem;
    list-style:none;
}

.nav-desktop li a{
    color: #c49b4e;
}

.nav-desktop li a:hover{
    color: #FFD700;
}


.nav-desktop a{
    text-decoration:none;
    color:black;
}


/* BOTON MOBILE */

.menu-btn{
    display:none;
    border:none;
    background:none;
    font-size:2rem;
    cursor:pointer;
    color: #D4AF37;
}

/* MENU LATERAL */

.menu-mobile{
    position:fixed;
    top:0;
    right:-300px;

    width:300px;
    height:100vh;

    background:#000000d5;

    display:flex;
    flex-direction:column;

    padding:5rem 2rem;
    gap:2rem;

    transition:.3s ease;

    z-index:2000;
}

.menu-mobile.active{
    right:0;
}

.menu-mobile a{
    text-decoration:none;
    color:white;
    font-size:1.2rem;
}

.menu-mobile a:hover{
    text-decoration:none;
    color:#c49b4e;
    font-size:1.2rem;
}

.close-btn{
    position:absolute;
    top:20px;
    right:20px;

    border:none;
    background:none;

    font-size:1.8rem;
    cursor:pointer;
    color: white;
}

.close-btn:hover{
    color: #c49b4e;
}

/* FONDO OSCURO */

.overlay{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.5);

    opacity:0;
    visibility:hidden;

    transition:.3s;

    z-index:1500;
}

.overlay.active{
    opacity:1;
    visibility:visible;
}


/* HEADER */


.header{ 
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.534)),
        url("../img/tribunalfoto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.wsp-style{
    position: fixed;
    z-index: 1;
    right: 0;
    margin-left: 1rem;  
    margin-right: 1rem;  
    bottom: 0;
    margin-bottom: 1.5rem; 
}

.wsp-logo{
    width: 3.8rem;
}
.wsp-logo:hover{
    filter: brightness(150%);
}

/* SECTION DE PRESENTACION */

.hero-content {
    padding-top: 150px;
    margin-left: 4rem;

    max-width: 750px;
}


.hero-label {
    color: #b99a55;
    font-size: .55rem;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.hero-content h1 {
    color: white;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.15;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.hero-content h1 span {
    color: #c49b4e;
    font-style: italic;
}

.hero-description {
    color: #ccc;
    max-width: 600px;
    line-height: 1.8;
    margin-top: 30px;
}

.btn-header{
    padding: 1rem;
    margin: 1rem 0;
    margin-top: 2rem;
    font-size: 1rem;
    background-color: #b8943e;
    border: none;
}

.btn-header:hover{
    background-color: #b19452;
}

.btn-header-mobile{
        margin-left: -2.5rem;
        padding: 1.5rem;
        margin-top: 3rem;
        font-size: 1rem;
        background-color: #b8943e;
        border: none;
        display: none;
    }

.btn-header-mobile:hover{
    background-color: #b19452;
}


.mobile-a{
    text-decoration: none;
}

/* MAIN SECTION TABLAS GRID */



.areas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;

    background: #111;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.area-card {
    padding: 40px 35px;
    min-height: 230px;
    margin: 1px;

    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.area-card span {
    display: block;

    color: #b8943e;
    font-style: italic;
    font-size: 1.1rem;

    margin-bottom: 20px;
}

.area-card h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.area-card p {
    color: #777;
    line-height: 1.7;
    font-size: .9rem;
}

.area-card:hover{
    background-color: #222;
    border-bottom: 1px solid #b8943e;
}

.section-texto-main{
    margin-top: 3.45rem;
}

.texto-h2{
    color: white;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.15;
    margin: 15px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.texto-h2 span{
    color: #b8943e;
    font-style: italic;
}

.texto-h5{
    color: #b8943e;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.15;
    margin: 15px;
    margin-left: 20px;
    margin-top: 30px;
}


/* FAQ SECTION */

.faq {
    padding: 70px 45px;
}

.faq-item {
    max-width: 780px;
    border-bottom: 1px solid #332b17;
    font-family: 'Times New Roman', Times, serif;
}

.faq-h2{
    color: white;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.15;
    margin: 15px;
    margin-left: 2.8125rem;
    font-family: 'Times New Roman', Times, serif;
}

.faq-h2 span{
    color: #b8943e;
    font-style: italic;
}

.faq-h5{
    color: #b8943e;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.15;
    margin: 15px;
    margin-left: 2.8125rem;
    margin-top: 30px;
}

summary:hover{
    color: #b8943e;
}

details[open] summary{
    color: #b8943e;
}


details {
    color: white;
}

summary {
    position: relative;
    padding: 25px 40px 25px 0;

    cursor: pointer;
    list-style: none;

    font-size: 1rem;
}

/* Sacamos el triangulito default */
summary::-webkit-details-marker {
    display: none;
}

/* + */
summary::after {
    content: "+";

    position: absolute;
    right: 0;

    color: #c99b36;
    font-size: 1.4rem;
}

/* cuando está abierto pasa a - */
details[open] summary::after {
    content: "−";
}

details p {
    margin: 0;
    padding: 0 40px 25px 0;

    color: #999;
    line-height: 1.7;
}




/* SECCION RESPONSIVE */

@media (max-width:768px){

    .nav-desktop{
        display:none;
    }

    .menu-btn{
        display:block;
    }
}

@media screen and (max-width: 600px) {

    .hero-content h1 {
        font-size: 2.5rem;
        margin-left: -2.5rem;
    }

    .hero-content .hero-label{
        margin-left: -2.5rem;
    }

    .hero-description {
        margin-left: -2.5rem;
    }

    .btn-header-mobile{
        display: block;
    }

    .btn-header{
        display: none;
    }

}

/* GRID RESPONSIVE */

@media (max-width: 900px) {
    .areas-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .areas-grid {
        grid-template-columns: 1fr;
    }
}